<article>
    <div class="row-content">
        <p>{{job.id}} {{job.title }}</p>
    </div>
    <div class="row-content">
        <p>{{job.minSalary + '-' +job.maxSalary}}</p>
    </div>
    <div class="row-content">
        <ul>
            @if (job.employees.length > 1 ){
                <li>{{ job.employees.length }} Employees</li>
            }
            @if (job.employees.length == 1 ){
                <li>{{ job.employees.length }} Employee</li>
            }
            @if (job.employees.length < 1 ){
                <li>{{ job.employees.length }} No Workers!</li>
            }
            
        </ul>
    </div>
    
    
    
    

    <div class="action-icons">
        <div class="blue">
            <i class="fas fa-eye" ></i>
        </div>
        <div class="red">
            <i class="fas fa-trash" (click)="deleteThisJob()"></i>
        </div>
    </div>
</article>