/* home.component.css */
.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .home-container h1, .home-container h2 {
    text-align: center;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    width: 100%;
  }
  
  .progress {
    background-color: #4caf50;
    height: 100%;
  }
  
  .tasks {
    margin-top: 20px;
  }
  
  .tasks ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .tasks li {
    background: #f3f3f3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
  }
  