#top-container {
    display: grid;
    grid-template-rows: 2fr 30fr 1fr;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    height: 100vh;
    gap: 0;
    
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
    
}

#main {
    grid-area: main;
    background-color: #bebfd9;
    overflow-y: auto;
    padding: 1vw;
}

#footer {
    grid-area: footer;
    text-align: center;
}

#header, #sidebar, #footer {
    margin: 0;
    padding: 0;
    background-color: #575fcf;

}


