<article>
    <div class="row-content">
        <p>{{project.id}} {{project.name }}</p>
    </div>
    <div class="row-content">
        <p>{{project.description}}</p>
    </div>
    <div class="row-content">
        <p>{{project.department.name}}</p>
    </div>
    

    <div class="action-icons">
        <div class="blue">
            <i class="fas fa-eye" ></i>
        </div>
        <div class="red">
            <i class="fas fa-trash" (click)="deleteThisProject()"></i>
        </div>
       
    </div>
</article>